
.App {
    text-align: center;
    height: 95%;
    overflow: hidden;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: rgb(155, 190, 236);
    height: 73px;
    width: 100%;
    padding: 20px;
    color: rgb(7, 6, 6);
    background-image: url("small_logo_tr.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.App-footer {
    border-top: 1px gray solid;
    height: 100%;
    max-height: 80px;
    margin-top: 2px;
    background-color: rgb(139, 138, 135)
}

.App-title {
    font-size: 2.0em;
    text-align: center;
    font-weight: 600;
}

.app-menubar {
    margin-top: 5px;
    background-color: brown
}

.app-menubar .menu-icon {
    display: none;
    text-align: left;
    margin: 10px;
    padding: 2px;
    width: 35px;
    border: 3px gray solid;
    background-color: transparent;
    background-image: url("menu.png");
    background-repeat: no-repeat;
}

.App .App-Is-Offline{
    display: block;
    background-color: red;
    position: fixed;
    bottom: 10px;
    height: 35px;
    width: 100%;
    z-index: 1000;
    padding: 5px;
}

.App .App-Is-Online{
    display: none;

}

@media only screen and (min-width:450px) {
    .App-header {
        background-image: url("logo_tr.png");
        height: 250px;
    }
    .App-title {
        font-size: 3.5em;
        padding-top: 40px
    }
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pages-container {
    height: calc( 100vh - 135px );
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    overflow-x: hidden;
}

.page-viewer-container {
    height: 90%;
    width: 100%;
}

.time-container {
    float: right;
    padding-right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.app-time {
    float: right;
    width: 100%;
}

.contact-us-form{
    width: 400px;
    label{
        text-align: left;
    }
   .desc-top{
        margin: 10px;
    }
}